.zels-framework {
  margin-left: 20px;
  margin-right: 0;
}
.zels-framework .zels-header h1 {
  float: right;
}
.zels-framework .zels-header fieldset {
  float: left;
}
.zels-framework .zels-nav {
  float: right;
}
.zels-framework .zels-nav ul {
  clear: right;
}
.zels-framework .zels-nav ul li .zels-section-active:after {
  right: auto;
  left: 0;
  border-left-color: #fff;
  border-right-color: transparent;
}
.zels-framework .zels-nav ul li .zels-arrow:after {
  content: "\f053";
  right: auto;
  left: 10px;
}
.zels-framework .zels-nav ul li.zels-tab-active .zels-arrow:after {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.zels-framework .zels-nav ul ul li a {
  padding-right: 25px;
  padding-left: 15px;
}
.zels-framework .zels-nav ul ul:before {
  left: auto;
  right: 15px;
}
.zels-framework .zels-nav .zels-icon {
  margin-left: 5px;
  margin-right: 0;
}
.zels-framework .zels-nav-background {
  left: auto;
  right: 0;
}
.zels-framework .zels-content {
  margin-left: 0;
  margin-right: 225px;
}
.zels-framework .zels-content .zels-sections {
  float: right;
}
.zels-framework .zels-show-all .zels-content {
  margin-right: 0;
  overflow: hidden;
}
.zels-framework .zels-expand-all {
  right: auto;
  left: 40px;
}
.zels-framework .zels-footer {
  text-align: left;
}

.zels-metabox-framework {
  margin: -6px -12px -12px -12px;
}
.zels-metabox-framework .zels-content .zels-section-title {
  padding: 20px;
}

.zels-element .zels-title {
  float: right;
}
.zels-element .zels-fieldset {
  margin-left: 0;
  margin-right: 30%;
}

.zels-pseudo-field {
  padding: 0 0 0 5px !important;
}

.zels-field-number em {
  margin-left: 0;
  margin-right: 5px;
}

.zels-field-typography select,
.zels-field-typography .chosen-container {
  margin-right: 0;
  margin-left: 5px;
}

.zels-field-checkbox .horizontal li,
.zels-field-radio .horizontal li {
  margin-right: 0;
  margin-left: 15px;
}

.zels-field-switcher label {
  float: right;
}
.zels-field-switcher .zels-text-desc {
  float: right;
  margin-left: 0;
  margin-right: 5px;
}

.zels-field-color_picker .zels-alpha-slider {
  margin-left: 0;
  margin-right: 2px;
}
.zels-field-color_picker .zels-alpha-slider .ui-slider-handle {
  margin: 0 -11px;
}
.zels-field-color_picker .zels-alpha-slider-offset {
  background-position: center right;
}
.zels-field-color_picker .zels-alpha-text {
  right: auto;
  left: 10px;
}

.zels-field-group .ui-accordion-icons {
  padding-left: 0;
  padding-right: 30px;
}
.zels-field-group .ui-accordion-header-icon {
  left: auto;
  right: .5em;
}
.zels-field-group .dashicons-arrow-right:before {
  content: "\f141";
}

.zels-help {
  right: auto;
  left: 5px;
}

.zels-field-icon .button {
  margin-right: 0;
  margin-left: 5px;
}
.zels-field-icon .zels-icon-preview i {
  margin-right: 0;
  margin-left: 5px;
}

.zels-field-gallery ul li {
  margin-right: 0;
  margin-left: 5px;
}
.zels-field-gallery .button {
  margin-right: 0;
  margin-left: 5px;
}

.zels-field-sorter .zels-modules {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}

#zels-save-ajax {
  right: auto;
  left: 5px;
}

.zels-dialog .zels-element {
  padding-right: 15px;
  padding-left: 30px;
}
.zels-dialog .zels-shortcode-clone .zels-remove-clone {
  right: auto;
  left: 5px;
}

#customize-controls .zels-element .zels-fieldset,
.widget-content .zels-element .zels-fieldset,
#side-sortables .zels-element .zels-fieldset {
  margin-right: 0;
}

@media only screen and (max-width: 1200px) {
  .zels-metabox-framework .zels-element .zels-fieldset {
    margin-left: 0;
  }
}
@media only screen and (max-width: 782px) {
  .zels-framework .zels-fieldset,
  .zels-framework .zels-content {
    margin-right: 0;
  }
}
.ui-dialog {
  right: auto;
}
